openapi: 3.0.3
info:
  title: Explyra API-E
  description: Enhanced API for Explyra platform with company-level management and quota enforcement.
  version: 1.0.0
servers:
  - url: https://api-e.explyra.com
    description: Production Environment
paths:
  /admin/register-company:
    post:
      summary: Register a new company account
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: string, example: "acme-corp" }
                admin_email: { type: string, example: "admin@acme.com" }
                admin_password: { type: string, example: "secure_pass" }
      responses:
        200:
          description: Registration successful
  /admin/login:
    post:
      summary: Admin login to get JWT and Session token
      tags: [Admin]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id: { type: string, example: "acme-corp" }
                admin_password: { type: string, example: "secure_pass" }
      responses:
        200:
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  session_token: { type: string }
  /admin/create-api-key:
    post:
      summary: Create a new API key for the company
      tags: [Admin]
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, example: "Production Key" }
      responses:
        200:
          description: API key created
  /v1/ping:
    get:
      summary: Check API status and key validity
      tags: [Public]
      security:
        - api_key_header: []
        - api_key_bearer: []
      responses:
        200:
          description: Pong response
  /v1/expenses:
    get:
      summary: List expenses (stub)
      tags: [Public]
      security:
        - api_key_header: []
      responses:
        200:
          description: List of expenses
    post:
      summary: Create an expense (stub)
      tags: [Public]
      security:
        - api_key_header: []
      responses:
        201:
          description: Expense created

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    api_key_header:
      type: apiKey
      in: header
      name: x-api-key
    api_key_bearer:
      type: http
      scheme: bearer
